canvas{
  width: 100px;
  height: 100px;
}
.operator:hover{
  background-color: lightgreen;
  border-color: lightgreen;
}
.zero{
  width: 100px;
  height: 100px;
}
.zero:hover{
}
.result-bar{
  border-style: solid;
  border-color: black;
  height: 200px;
}
.result-index{
  border-style: solid;
  border-color: black;
  height: 50px;
}
.result_left_top{
  border-style: solid;
  border-color: black;
  width: 50px;
  height: 200px;
}
.result-canvas{
  border-style: solid;
  border-color: black;
  width: 600px;
  height: 200px;
}

.controllArea{
  position: absolute;
  width: 120px;
  height: 50px;
  top: 25px;
  left: 525px;
}
.controllArea input[type="checkbox"]{
  display: none;
}
.controllArea label{
  display: block;
  box-sizing: border-box;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 3px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
  font-weight: bold;
  background: #eee;
  box-shadow: 3px 3px 6px #888;
  transition: .3s;
}
.controllArea #controll{
  position: absolute;
  width: 120px;
  height: 50px;
  top: 75px;
  left: 525px;
}
.controllArea #controll + label span:after{
  content: "Controll OFF";
  color: #aaa;
}
.controllArea #controll:checked + label{
  background: #78bd78;
  box-shadow: none;
}
.controllArea #controll:checked + label span:after{
  content: "Controll ON";
  color: #fff;
}
.controllArea #for_check{
  position: absolute;
  width: 120px;
  height: 50px;
  top: 75px;
  left: 625px;
}
.controllArea #for_check + label span:after{
  content: "For OFF";
  color: #aaa;
}
.controllArea #for_check:checked + label{
  background: #78bd78;
  box-shadow: none;
}
.controllArea #for_check:checked + label span:after{
  content: "For ON";
  color: #fff;
}

.how_to_use_jp{
  position: absolute;
  top: 25px;
  left: 125px;
}

button{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  width: 75px;
  height: 50px;
  position: absolute;
  font-size: 12px;
}
.nbutton1{
}
.nbutton1:active{
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}
.nbutton2{
}
.nbutton2:active{
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}
.wbutton1{
}
.wbutton1:active{
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}
.wbutton2{
}
.wbutton2:active{
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}
.simulate{
  background: #00ffff;
  color: red;
}
.simulate:active{
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}
.sort_show{
}
.sort_show{
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}

a{
  color: #0073bc;
}
a:link{
  color: #0073bc;
}
a:visited{
  color: #0073bc;
}
a:hover{
  color: #b7dbf2;
}
a:active{
  color: #4ca4e8;
}
