.langChangeButton{
  display: none;
}
.langChangeButton:checked + label{
  background-color: skyblue;
}
label{
  display: inline-block;
  border: 1px solid #000;
  padding: 2px 2px;
  width: 55px;
  height: 25px;
  text-align: center;
}
#langJa:not(:checked) ~ * :lang(ja){
  display: none;
}
#langEn:not(:checked) ~ * :lang(en){
  display: none;
}

.controll-checkbox{
  display: none;
}
.controll-label{
  display: block;
  width: 75px;
  height: 25px;
  box-sizing: border-box;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 3px;
  background: #eee;
  box-shadow: 3px 3px 6px #888;
  transition: .3s;
}
.controll-label span:after{
  color: #111;
}
.controll-checkbox:checked + .controll-label{
  background-color: pink;
  box-shadow:none;
}
.controll-checkbox:checked + .for-label span:after{
  color: #fff;
}
.for-checkbox{
  display: none;
}
.for-label{
  display: block;
  width: 75px;
  height: 25px;
  box-sizing: border-box;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 3px;
  background: #eee;
  box-shadow: 3px 3px 6px #888;
  transition: .3s;
}
.for-label span:after{
  color: #aaa;
}
.for-checkbox:checked + .for-label{
  background-color: pink;
  box-shadow: none;
}
.for-checkbox:checked + .for-label span:after{
  color: #fff;
}

canvas{
  width: 100px;
  height: 100px;
}
.operator:hover{
  background-color: lightgreen;
  border-color: lightgreen;
}
.result-bar{
  border-style: solid;
  border-color: black;
  height: 200px;
}
.result-index{
  border-style: solid;
  border-color: black;
  height: 50px;
}
.operator{
  position: absolute;
}
.zero{
  position: absolute;
}
.result-bar{
  position: absolute;
}
.result-index{
  position: absolute;
}

button{
  display: inline-block;
  padding: 0.5em 1em;
  box-sizing: border-box;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
  width: 75px;
  height: 50px;
  position: absolute;
  text-align: center;
  font-size: 14px;
}
.default_button:active{
  -webkit-transform: translateY(4px);
  transform: translateY(4px);
  border-bottom: none;
}
.default_button p{
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
#wbutton1{
  left: 25px;
  top: 100px;
}
#wbutton2{
  left: 125px;
  top: 100px;
}
#nbutton1{
  left: 225px;
  top: 100px;
}
#nbutton2{
  left: 325px;
  top: 100px;
}
#simulate{
  background: #00ffff;
  left: 425px;
  top: 100px;
  color: red;
}

a{
  color: #0073bc;
}
a:link{
  color: #0073bc;
}
a:visited{
  color: #0073bc;
}
a:hover{
  color: #b7dbf2;
}
a:active{
  color: #4ca4e8;
}

input{
  width: 50px;
  height: 10px;
  position: absolute;
}

